@page
@model RazorUI.Pages.AboutModel
@{
    ViewData["Title"] = "About";
}

<div class="container text-light">
    <h1 class="text-center display-4 mb-3">About</h1>
    <p>Hi, my name is Matthew and I am a Software Developer from London, England, UK. 
    Primarily using C# to target .NET Core, I am experienced in creating internet-connected, cloud-enabled applications and solutions. 
    In February 2020, I gained my Microsoft Certified: Azure Developer Associate qualification.
    </p>
    <p>
        Originally, this website was running on my dad's old laptop in a cupboard in my kitchen. 
        It was outdated and slow, so I stripped the operating system, installed the Ubuntu Server image and the Apache HTTP Server package and then port-forwarded my public IP address on both port 80 (HTTP) and 443 (HTTPS) to point to the private IP address of the server. 
        Finally, I managed to obtain the matthewhope.co.uk domain name for free, courtesy of 1&1IONOS, and updated the DNS A record and CNAME record to point to my public IP address.
    </p>
    <p>
        Recently, I have redesigned this website with ASP.NET Core to have more dynamism and functionality, and I have used my knowledge of cloud-computing to migrate it from the cupboard in the kitchen to a more robust and elastic host on Microsoft Azure. 
        I have also set up a Continuous Integration/Continuous Deployment (CI/CD) pipeline with Azure DevOps, which allows me to instantly build and deploy any updates as soon as I push to GitHub.
        Check back again soon to see how the project is progressing!
    </p>
    <p>
        If you would like to know more about me or the work that I do, check out my CV, or feel free to follow me on the social media platform of your choice. 
        Links to my GitHub, Instagram, Twitter and LinkedIn profiles should all be up and running in the navigation bar at the top of the page. 
        If you want to ask me any questions, you can email me at matt@matthewhope.co.uk. Namaste.
    </p>
</div>