@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4 mb-3 mt-2 text-center">
            <div>
                <img class="img-fluid rounded-circle" src="~/images/profile/headshot.jpg" alt="headshot" />
            </div>
        </div>
        <div class="col-md-8 float-left">
            <div class="p-2">
                    <h1 class="text-center text-light display-4 text-nowrap">Hello! I'm Matthew.</h1>
                    <div class="container">
                        <h3 class=" text-light text-center font-weight-light">
                            I am a 23-year-old Software Developer based in London, UK. Primarily using C#
                            to target .NET Core, I specialise in creating internet-connected, cloud-enabled products and solutions.
                        </h3>
                    </div>
            </div>
        </div>
    </div>
</div>
